@model ApplicationCore.Domain.Section

@{
    ViewData["Title"] = "BFPME360 - Créer un nouveau département";
}

<h4>Créer Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomSection" class="control-label">
                    Description<span class="text-danger">*</span>
                </label>
                <input asp-for="NomSection" class="form-control" />
                <span asp-validation-for="NomSection" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ParentSectionId" class="control-label">Département parent<span class="text-danger">*</span></label>
                <select asp-for="ParentSectionId" class="form-control" asp-items="ViewBag.Departments">
                    <option value="">Pas de département Parent</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        Retour à la liste
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
