@model ApplicationCore.Domain.Section

@{
    ViewData["Title"] = "BFPME360 - Supprimer un département";
}

<h4>Supprimer un département</h4>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomSection)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">
            Retour à la liste
        </a>
    </form>
</div>
