@model ApplicationCore.Domain.Genre

@{
    ViewData["Title"] = "Delete";
}

<h4>Supprimer Genre</h4>


<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomGenre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
