@model IEnumerable<ApplicationCore.Domain.Genre>
@inject ApplicationCore.Interfaces.IServiceEmployees se
@inject ApplicationCore.Interfaces.IServiceFonctionEmployee sfe

@{
    bool shouldHideDiv = true;
    bool shouldHideDivAdmin = true;

    string mail = User.Identity.Name;
    var employee = se.GetMany().FirstOrDefault(e => e.Email == mail);
    if (employee == null)
    {
        shouldHideDiv = true;
    }
    else
    {
        var fonction = sfe.GetById(employee.FonctionEmployeeFk);
        if (fonction.Fonction == "Responsable") { shouldHideDiv = false; }
        else shouldHideDiv = true;
    }
    if (employee == null)
    {
        {
            // Replace "Administrateur" with the actual role name you want to check
            if (User.IsInRole("Administrateur"))
            {

                shouldHideDivAdmin = false;
            }
        }
        ViewData["Title"] = "UNIVERS-MED  - La liste des Genres";
}}

<h4>La liste des Genres</h4>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>

<p>

    <a asp-action="Create" class="btn btn-primary">Créer un nouveau genre</a>
</p>
<body>
    <table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGenre)
            </td>
            <td>
                    @Html.ActionLink("Modifier", "Edit", new {  id=item.GenreId  }) |
                    @Html.ActionLink("Supprimer", "Delete", new {  id=item.GenreId  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>

<style>
    .active {
        background-color: #4CAF50;
        color: white;
        border-radius: 20px; /* Adjust the value to control the roundness */
        padding: 8px 16px; /* Adjust padding for spacing */
        transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
    }

    /* Add a hover effect for the navigation links */
    .nav-link:hover {
        background-color: #eee;
        color: #333;
        border-radius: 20px;
        transition: background-color 0.3s, color 0.3s;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "scrollY": "450px",
            "scrollCollapse": true,
            "paging": true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
            },
        });
    });</script>