@model ApplicationCore.Domain.FonctionEmployee

@{
    ViewData["Title"] = "Create";
}

<h4>Créer FonctionEmployee</h4>
<a href="/Home/Index" class="btn btn-primary">Home</a>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Fonction" class="control-label">
                    Fonction<span class="text-danger">*</span>
                </label>
                <input asp-for="Fonction" class="form-control" />
                <span asp-validation-for="Fonction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
